# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual Environments
env/
venv/
.cache/
Dockerfile/

# Django
*.log
*.pot
*.pyc
local_settings.py

media
staticfiles

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db
.cache
"credentials/*.json" 
